{% extends 'core/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Password Reset</h1>
    <form method="post">
        {% csrf_token %}
        <label class="inline-block mb-2">Enter your email address</label>
        {{ form.email }}
        <button class="py-4 px-8 mt-4 bg-teal-500 hover:bg-teal-700 text-white rounded-xl">Send Reset Link</button>
    </form>
</div>
{% endblock %}
