{% extends 'core/base.html' %}

{% block title %}Đặt lại mật khẩu thành công{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto my-12 p-8 bg-white shadow-lg rounded-lg">
    <h1 class="mb-6 text-2xl font-bold text-center text-blue-900">Đặt lại mật khẩu thành công</h1>

    <p class="text-center text-gray-700 text-lg">
        Mật khẩu của bạn đã được đặt lại thành công. Bạn có thể 
        <a href="http://localhost:3000/login" class="text-blue-500 hover:underline">
            Đăng nhập
        </a> 
        bằng mật khẩu mới của mình.
    </p>
</div>
{% endblock %}
